<div class="login-form">
  <mat-card>
    <mat-card-content>
      <h1 class="login-color">LOGIN</h1>
  
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field class="full-width-input mt-5">
          <input
            text="text"
            formControlName="username"
            matInput
            placeholder="Usuario"
            required
          />
          <mat-error *ngIf="isValidField('username')" class="text-red-500">
              {{ getErrorMessage("username") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input separator">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Contraseña"
            required
          />
          
           <mat-error *ngIf="isValidField('password')" class="text-red-500">
               {{ getErrorMessage("password") }}
            </mat-error>
        </mat-form-field>
        <button
          [disabled]="loginForm.invalid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Iniciar Sesión
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

